<div class="top-five-products-services">
  <h2>Top 5 Solutions</h2>

  <div 
    class="swiper-container" 
    [ngStyle]="{'transform': 'translateX(' + swiperOffset + '%)'}">

    <div 
      class="product-service-item" 
      *ngFor="let solution of solutions; let i = index" 
      [ngClass]="{'focused': i === currentIndex, 'adjacent': i === currentIndex - 1 || i === currentIndex + 1}"
      (click)="openDetails(solution)">
      
      <img [src]="solution.cardImage" alt="Solution Image">
      <h3>{{ solution.name }}</h3>
      <p>{{ solution.description }}</p>
    </div>
  </div>

  <button class="swiper-button-prev" (click)="prevItem()"></button>
  <div *ngIf="!solutions?.length" class="no-solutions">
    <p>No products/services available at the moment.</p>
  </div>
  <button class="swiper-button-next" (click)="nextItem()"></button>

  <div class="bullets">
    <span *ngFor="let item of solutions; let i = index" 
          [class.active]="i === currentIndex" 
          (click)="goToItem(i)">
    </span>
  </div>
</div>
