<div class="container mt-4">
    <h2 class="text-center mb-4">My Events</h2>
    <button class="create mx-auto d-block" [routerLink]="['/events/create']">
        <mat-icon class="custom-add-icon"></mat-icon>
    </button>
    
    <div class="container mt-4">
        <div class="row justify-content-center">
            <span *ngIf="events && events.length === 0" class="empty">You don't have any events.</span>
            <div *ngFor="let event of events" class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex align-items-stretch">
                <mat-card class="card shadow" (click)="openEventDetails(event.id)">
                    <div class="event-settings">
                        <button class="edit" (click)="editEvent(event.id)" [disabled]="isInPast(event.startDate)">
                            <mat-icon class="custom-edit-icon"></mat-icon>
                        </button>
                        <button class="delete" (click)="delete($event, event.id)">
                            <mat-icon class="custom-delete-icon"></mat-icon>
                        </button>
                    </div>
                    <img mat-card-image class="mat-card-image" [src]="event.cardImage" alt="Event image" />
                    <mat-card-header>
                        <mat-card-title class="bold-font">{{ event.name }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="margin-top">
                        <span>{{ event.description }}</span><br/>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>