<div class="center-container">
  
    <form [formGroup]="createEventTypeForm" class="event-type-form" (ngSubmit)="create()">
      <div class="form-title">
  
        <h2>Create Event Type</h2>
      </div>
  
    <mat-form-field>
        <mat-label>
            Name
        </mat-label>
        <input matInput required formControlName="name"/>
        <mat-error *ngIf="createEventTypeForm.get('name')?.invalid && createEventTypeForm.get('name')?.touched">
          Please enter name.
        </mat-error>
    </mat-form-field>
  
    <mat-form-field>
        <mat-label>
            <mat-icon>description</mat-icon>
            Description
        </mat-label>
        <textarea matInput required formControlName="description"></textarea>
        <mat-error *ngIf="createEventTypeForm.get('description')?.invalid && createEventTypeForm.get('description')?.touched">
            Please enter description.
        </mat-error>
    </mat-form-field>
  
    <mat-form-field>
        <mat-label>
            <mat-icon>category</mat-icon>
            Categories
        </mat-label>
        <mat-select formControlName="categories" multiple required >
            <mat-option *ngFor="let category of categoriesList" [value]="category">{{ category }}</mat-option>
        </mat-select>
        <mat-error *ngIf="createEventTypeForm.get('categories')?.invalid && createEventTypeForm.get('categories')?.touched">
            Please select categories.
        </mat-error>
    </mat-form-field>
  
      <div class="form-buttons form-field">
        <button mat-raised-button class="cancel" (click)="cancel()">Cancel</button>
        <button mat-raised-button class="submit">Submit</button>
      </div>
    </form>
</div>
  