.example-container mat-form-field + mat-form-field {
    margin-left: 0.5rem;
}

.example-container {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

mat-form-field mat-label mat-icon {
    margin-right: 0.5rem;
}

mat-form-field, mat-label, input {
    font-family: 'Raleway';
    font-size: 1.25rem;
}

mat-error {
    color: #de4d3e;
    font-size: 1rem;
}
