<div class="home-container">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <div class="main-content">
    <app-top-five-events></app-top-five-events>
    <app-all-events></app-all-events>
    <app-top-five-products-services></app-top-five-products-services>
    <app-all-products-services></app-all-products-services>
  </div>
</div>