.home-container {
  padding: 20px;
  background-color: #f5f5f5;
}

.main-content {
  margin-right: 20px;
}

app-top-five-events, app-all-events, app-top-five-products-services, app-all-products-services {
  margin-bottom: 40px;
}
