<div class="chat-container">
  <div class="chat-list">
    <!-- Search input field -->
    <mat-form-field class="search-input">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchQuery" (input)="filterChats()" placeholder="Search">
    </mat-form-field>
    <ul>
      <li
        *ngFor="let chat of filteredChats"
        [class.selected]="chat.id === selectedChatId"
        (click)="loadMessages(chat.id)"
      >
        <div class="chat-item">
          <h3>{{ loggedUser?.firstName != chat.user1 ? chat.user1 : chat.user2 }} 
            <span *ngIf="getUnseenMessageCount(chat.id) > 0" class="notification-badge">{{ getUnseenMessageCount(chat.id) }} </span>
          </h3>
          <p *ngIf="chat.isDeleted">This chat has been deleted.</p>
          {{ lastMessages[chat.id]?.content || 'No messages yet...' }}
        </div>
      </li>
    </ul>
  </div>

  <div class="chat-window" *ngIf="selectedChatId">
    <div class="user-chat">
      <span>USER</span>
    </div>

    <div class="messages">
      <div
        *ngFor="let message of messages"
        [ngClass]="{
          'sent': isOwnMessage(message),
          'received': !isOwnMessage(message)
        }"
      >
        {{ message.content }}
      </div>
    </div>

    <div class="message-input">
      <input
        [(ngModel)]="newMessage"
        placeholder="Start typing..."
        (keyup.enter)="sendMessage()"
      />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
