<div class="container mt-4">
  <h2 class="text-center mb-4">Services</h2>
  <div>
    <div class="search align-items-stretch">
      <app-search-bar class="search-bar" (searchChanged)="filterServices($event)"></app-search-bar>
      <button class="filters" (click)="toggleFilters()">
        <mat-icon class="custom-filter-icon"></mat-icon>
      </button>
      <button [routerLink]="['/service/create']" class="create">
        <mat-icon class="custom-add-icon"></mat-icon>
      </button>
    </div>
    
    <div class="row justify-content-center">
      <div *ngFor="let service of paginatedServices" class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex align-items-stretch">
        <mat-card class="card shadow" (click)="goToServiceDetails(service.id)">
          <div class="service-settings">
            <button class="edit" (click)="editService($event, service.id)">
              <mat-icon class="custom-edit-icon"></mat-icon>
            </button>
            <button class="delete" (click)="deleteService($event, service.id)">
              <mat-icon class="custom-delete-icon"></mat-icon>
            </button>
          </div>
          <img mat-card-image class="mat-card-image" [src]="service.images[0]" alt="{{ service.name }}" />
          <mat-card-header>
            <mat-card-title>{{ service.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ service.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <mat-paginator
    [length]="filteredServices.length"
    [pageSize]="6"
    [pageSizeOptions]="[3, 6, 9]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>