<div class="container mt-4">
  <div class="title">
      <h2>Categories</h2>
      <button (click)="openCreateModal()" class="create">
          <mat-icon class="custom-add-icon"></mat-icon>
      </button>
      <button class="create" [routerLink]="['/categories/review']">
          <mat-icon class="custom-info-icon"></mat-icon>
      </button>
  </div>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div *ngFor="let category of categories" class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex align-items-stretch">
        <mat-card class="card shadow">
          <div class="category-type-settings">
            <button class="edit" (click)="openEditModal(category)">
              <mat-icon class="custom-edit-icon"></mat-icon>
            </button>
            <button class="delete" (click)="deleteCategory($event, category.id)">
              <mat-icon class="custom-delete-icon"></mat-icon>
            </button>
          </div>
          <mat-card-header>
            <mat-card-title class="bold-font">{{ category.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="margin-top">
            <span>{{ category.description }}</span><br />
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
