.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
}

.example-container {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

mat-form-field mat-label mat-icon {
    margin-right: 8px;
}

mat-form-field, mat-label, input {
    font-family: 'Raleway';
    font-size: 20px;
}

mat-error {
    color: #de4d3e;
    font-size: 16px;
}