<div class="example-container">
    <mat-form-field>
      <mat-label>
        <mat-icon>lock</mat-icon>
        Password
      </mat-label>
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        [formControl]="password"
        (blur)="updateErrorMessage()"
        required
      />
      @if (password.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
      }
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
</div>
  