<mat-drawer-container class="example-container">
  <mat-drawer mode="side" position="end" opened>
    <div class="nav-header">
      <img src="../../../assets/favicon.ico" alt="Logo" />
      <h3>Event Planner</h3>
    </div>
    <div class="nav-user" *ngIf="isLoggedIn">
      <img [src]="userProfilePhoto || '../../../assets/images/profile_photo_placeholder.png'" alt="User Image" />
      <h4>{{ userFullName }}</h4>
      <span>{{ userEmail }}</span>
    </div>
    <a class="nav-login" routerLink="/login" *ngIf="!isLoggedIn">
      Sign in
    </a>
    <a class="nav-login" routerLink="/fast-register" *ngIf="userRole === 'AUTHENTICATED_USER'">
      Sign up
    </a>
    <a class="nav-item top-border" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>home</mat-icon>
      Home
    </a>
    <a class="nav-item" routerLink="/chat" routerLinkActive="active" *ngIf="isLoggedIn && userRole !== 'AUTHENTICATED_USER'">
      <mat-icon>chat</mat-icon>
      Chat
    </a>
    <a class="nav-item" routerLink="/notifications" routerLinkActive="active" *ngIf="isLoggedIn">
      <mat-icon>notifications</mat-icon>
      Notifications
      <span *ngIf="unseenNotificationsCount > 0" class="notification-badge">{{ unseenNotificationsCount }}</span>
    </a>
    <a class="nav-item" routerLink="/events" routerLinkActive="active" *ngIf="userRole === 'EVENT_ORGANIZER'">
      <mat-icon>event</mat-icon>
      Events
    </a>
    <a class="nav-item" routerLink="/services" routerLinkActive="active" *ngIf="userRole === 'SERVICE_PRODUCT_PROVIDER'">
      <mat-icon>build</mat-icon>
      Services
    </a>
    <a class="nav-item" routerLink="/products" routerLinkActive="active" *ngIf="userRole === 'SERVICE_PRODUCT_PROVIDER'">
      <mat-icon>shopping_cart</mat-icon>
      Products
    </a>
    <a class="nav-item" routerLink="/pricelist" routerLinkActive="active" *ngIf="userRole === 'SERVICE_PRODUCT_PROVIDER'">
      <mat-icon>money</mat-icon>
      Pricelist
    </a>
    <a class="nav-item" routerLink="/event-types" routerLinkActive="active" *ngIf="userRole === 'ADMIN'">
      <mat-icon>event</mat-icon>
      Event Types
    </a>
    <a class="nav-item" routerLink="/categories" routerLinkActive="active" *ngIf="userRole === 'ADMIN'">
      <mat-icon>category</mat-icon>
      Categories
    </a>
    <a class="nav-item" routerLink="/users/profile" routerLinkActive="active" *ngIf="isLoggedIn">
      <mat-icon>person</mat-icon>
      Profile
    </a>
    <a class="nav-item" routerLink="/logout" routerLinkActive="active" *ngIf="isLoggedIn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Sign Out
    </a>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>