<div class="modal" *ngIf="isModalVisible" style="display: none;">
    <div class="modal-content">
    <h2 class="modal-title">Create Category</h2>
    <form>
        <mat-form-field appearance="fill">
        <mat-label>Category Name</mat-label>
        <input
            matInput
            [(ngModel)]="newCategory.name"
            name="categoryName"
            placeholder="Enter category name"
            required
        />
        <mat-error *ngIf="!newCategory.name">Category Name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input
            matInput
            [(ngModel)]="newCategory.description"
            name="description"
            placeholder="Enter description"
            required
        />
        <mat-error *ngIf="!newCategory.description">Description is required</mat-error>
        </mat-form-field>

        <div class="modal-actions">
            <button mat-raised-button color="warn" type="button" (click)="closeModal()">Cancel
            </button>
            <button mat-raised-button color="primary" type="button" (click)="createCategory()">
                <mat-icon>save</mat-icon> Save
            </button>
        </div>
    </form>
    </div>
</div>

<div class="modal" *ngIf="selectedCategory" style="display: none;">
    <div class="modal-content">
    <h2 class="modal-title">Edit Category</h2>
    <form>
        <mat-form-field appearance="fill">
        <mat-label>Category Name</mat-label>
        <input
            matInput
            [(ngModel)]="selectedCategory.name"
            name="categoryName"
            placeholder="Enter category name"
            required
        />
        <mat-error *ngIf="!selectedCategory.name">Category Name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input
            matInput
            [(ngModel)]="selectedCategory.description"
            name="description"
            placeholder="Enter description"
            required
        />
        <mat-error *ngIf="!selectedCategory.description">Description is required</mat-error>
        </mat-form-field>

        <div class="modal-actions">
            <button mat-raised-button color="warn" type="button" (click)="closeModal()">Cancel
            </button>
            <button mat-raised-button color="primary" type="button" (click)="editCategory(selectedCategory.id)">
                <mat-icon>save</mat-icon> Save
            </button>
        </div>
    </form>
    </div>
</div>

<!-- <div>
  <h3>Edit / Delete Categories</h3>
  <ul>
    <li *ngFor="let category of categories">
      <input [(ngModel)]="category.name" />
      <input [(ngModel)]="category.description" />
      <button (click)="updateCategory(category.id)">Update</button>
      <button (click)="deleteCategory(category.id)">Delete</button>
    </li>
  </ul>
</div> -->
