<div class="all-products-services-container">
  <h2>All Products/Services</h2>

  <div class="search-container">
    <span class="search-icon material-icons">search</span>
    <input
      type="text"
      placeholder="Search products/services..."
      [(ngModel)]="searchQuery"
      (input)="applySearch()"
    />
  </div>

  <div class="controls-container">
      <div class="date-filter-container">
        <label for="from-date">From</label>
        <input
          id="from-date"
          type="date"
          [(ngModel)]="fromDate"
          (change)="applyDateFilter()"
          placeholder="From Date"
        />
        <label for="to-date">To</label>
        <input
          id="to-date"
          type="date"
          [(ngModel)]="toDate"
          (change)="applyDateFilter()"
          placeholder="To Date"
        />
      </div>
      
    <div class="sort-container">
      <label for="sort-select">Sort by</label>
      <select [(ngModel)]="selectedFilter" (change)="applySearch()">
        <option value="title">Title</option>
        <option value="description">Description</option>
      </select>
    </div>

    <div class="sort-container">
      <label for="sort-order">Sort Order</label>
      <select [(ngModel)]="sortOrder" (change)="applySearch()">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
    </div>
  </div>

  <div class="radio-container">
    <label>Select Type:</label>
    <label>
      <input
        type="radio"
        name="type"
        [value]="true"
        [(ngModel)]="showProducts"
        (change)="toggleView(true)"
      />
      Products
    </label>
    <label>
      <input
        type="radio"
        name="type"
        [value]="false"
        [(ngModel)]="showProducts"
        (change)="toggleView(false)"
      />
      Services
    </label>
  </div>

  <div *ngIf="showProducts" class="products-services-grid">
    <app-product-card
      *ngFor="let product of paginatedProducts"
      [product]="product"
      (cardClick)="openDetails(product)"
    ></app-product-card>
  </div>
  <div *ngIf="!showProducts" class="products-services-grid">
    <app-service-card
      *ngFor="let service of paginatedServices"
      [service]="service"
      (cardClick)="openDetails(service)"
    ></app-service-card>
  </div>

  <div *ngIf="!filteredProducts?.length && !filteredServices?.length && !loading" class="no-products-services">
    <p>No products or services available at the moment.</p>
  </div>

  <div *ngIf="loading" class="loading">
    <p>Loading products/services...</p>
  </div>

  <div class="pagination">
    <button
      class="previous"
      (click)="goToPreviousPage()"
      [disabled]="currentPage === 1"
    >
    </button>
    <span class="current-page">{{ currentPage }} / {{ totalPages }}</span>
    <button
      class="next"
      (click)="goToNextPage()"
      [disabled]="currentPage === totalPages"
    >
    </button>
  </div>
</div>