<div class="center-container">
    <form [formGroup]="editProductForm" class="product-form">
        <div class="form-title">
            <button
                type="button"
                class="close-button"
                [routerLink]="['/products']"
            >
                <mat-icon>close</mat-icon>
            </button>

            <h2>Edit Product</h2>
        </div>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error
                *ngIf="editProductForm.get('name')?.hasError('required')"
            >
                Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Description</mat-label>
            <input matInput type="text" formControlName="description" />
            <mat-error
                *ngIf="editProductForm.get('description')?.hasError('required')"
            >
                Description is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field half-width">
            <mat-label>Category</mat-label>
            <input
                type="text"
                matInput
                formControlName="category"
                [matAutocomplete]="categoryAuto"
                (input)="filterCategories($event)"
            />
            <mat-autocomplete
                #categoryAuto="matAutocomplete"
                class="form-field"
            >
                <mat-option
                    *ngFor="let option of filteredCategories"
                    [value]="option"
                >
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
            <mat-error
                *ngIf="editProductForm.get('category')?.hasError('required')"
            >
                Category is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Event Type</mat-label>
            <mat-select formControlName="eventTypes" multiple>
                <mat-option *ngFor="let option of eventTypes" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="editProductForm.get('eventTypes')?.hasError('required')"
            >
                Event Type is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Location</mat-label>
            <input
                type="text"
                matInput
                placeholder="Location"
                formControlName="location"
                [matAutocomplete]="auto"
            />
            <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="onLocationSelected($event.option.value)"
            >
                <mat-option
                    *ngFor="let option of autocompleteOptions"
                    [value]="option"
                >
                    {{ option.displayName }}
                </mat-option>
            </mat-autocomplete>
            <mat-error
                *ngIf="
                    editProductForm.get('location')?.invalid &&
                    editProductForm.get('location')?.touched
                "
            >
                Location is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field half-width">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" />
            <mat-error *ngIf="editProductForm.get('price')?.hasError('min')">
                Price must be set
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field half-width">
            <mat-label>Discount</mat-label>
            <input matInput type="number" formControlName="discount" />
        </mat-form-field>

        <div class="form-field images-container">
            <div class="image-picker">
                <label for="imageUpload" class="upload-icon">
                    <mat-icon>add_photo_alternate</mat-icon>
                </label>
                <input
                    type="file"
                    id="imageUpload"
                    (change)="onFileSelected($event)"
                    multiple
                    hidden
                />
                <p>Upload Images</p>
                <mat-error
                    *ngIf="
                        editProductForm
                            .get('uploadedFiles')
                            ?.hasError('minImages')
                    "
                >
                    At least one image is required.
                </mat-error>
            </div>

            <div class="image-preview" *ngIf="uploadedFiles.length > 0">
                <div
                    *ngFor="let image of uploadedFiles; let i = index"
                    class="image-container"
                >
                    <img [src]="imageToUrl(image)" alt="Preview" />
                    <button
                        type="button"
                        class="remove-button"
                        (click)="removeImage(i)"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="checkbox-stuff full-width form-field">
            <div class="checkboxes">
                <mat-checkbox formControlName="isVisible">Visible</mat-checkbox>
                <mat-checkbox formControlName="isAvailable"
                    >Available</mat-checkbox
                >
            </div>
        </div>

        <div class="form-buttons form-field">
            <button
                [routerLink]="['/products']"
                mat-raised-button
                class="cancel"
            >
                Cancel
            </button>
            <button (click)="edit()" mat-raised-button class="submit">
                Submit
            </button>
        </div>
    </form>
</div>
